/* style.css */

/* General Body Styles */
body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: rgb(56, 56, 56); /* Light gray background */
  color: white; /* Dark gray text for readability */
}

/* Heading Styles */
h1 {
  font-size: 2.5em;
  color: #0095ff; /* Example: A primary color */
  text-align: center;
  margin-bottom: 20px;
  font-family: "Georgia", serif; /*  More stylish font for headers */
}

/* List Styles */
ul {
  list-style-type: disc; /* Or 'square', 'circle' */
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Paragraph Styles */
p {
  margin-bottom: 15px;
}

/* Strong/Bold Text */
strong {
  font-weight: 600; /* Slightly bolder than default */
  color: #ffffff; /* Darker shade of the primary color */
}

/* Specific class style to center align a paragraph */
.centered-paragraph {
  text-align: center;
}

/* Add more styles as needed (e.g., for images, tables, etc.) */
/* From Uiverse.io by Madflows */ 
.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
